:root{
    --primary-color:#BF2EF0;
    --secondary-color:#ED3EF7;
    --tertiary-color:#FEECB3;
    --quarterny-color:#FFF6EA;
}

*{
    box-sizing: border-box;
    /* border: 1px solid black; */
}
html,body{
    margin:0;
    padding: 0;
    background-color: var(--primary-color);
}
h1{
    color: var(--quarterny-color);
    text-align: center;
}
nav{
    display: flex;
    background-color: rgba(0, 0, 0, 0.496);
    width: 90%;
    margin: 2vh auto 5vh auto;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 1.5vw;
}
.containers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    padding: 0;
    margin: auto;
}
a {
    color: var(--tertiary-color);
    text-decoration: none;
}
a:hover{
    background-color: var(--secondary-color);
    color: var(--quarterny-color);
    border: 1px solid var(--quarterny-color);
}
.containers{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    width: 40%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--tertiary-color);
    color:var(--tertiary-color);
    text-decoration: none;text-align: center;
    border-radius: 30px;
    margin: 10px;
}
.container:hover{
    background-color: var(--secondary-color);
    border: 5px solid var(--tertiary-color);
    font-size: xx-large;
    border-radius: 30px;
}
table{
    width: 80%;
    margin: auto;
    padding: 1vh;
}
th{
    color: var(--quarterny-color);
    padding: 1vh;
}
td{
    text-align: center;
    color: var(--tertiary-color);
}
.prgrm{
    width: 80%;
    margin: 2vh auto;
    border: 4px solid var(--quarterny-color) ;
    border-radius: 10px;
}
pre, code{
    margin: 0;
    border-radius: 10px;
}
.topBtn{
    position: fixed;
    bottom: 5vh;
    right: 3vw;
    color:var(--secondary-color);
    background-color: var(--tertiary-color);
    padding: 10px;
    border: 2px solid var(--quarterny-color);
    border-radius: 10px;
}
@media (prefers-reduced-motion:no-preference) {
    * {
        scroll-behavior: smooth;
    }
}