h1 {
	text-align: center;
}
li {
	text-decoration: none;
	display: inline;
}

button {
	width: 250px;
	height: 50px;
	padding: 30px;
	margin-top: 5px;
	background-color: yellow;
}

button:hover {
	background-color: white;
	font-weight: bold;
}
